<titel [titel]="'Fragen'" [teilnehmerNummer]="teilnehmerNummer"></titel>
<form #currentForm="ngForm">
    <div *ngIf="fragensaetze">
        <div class="fragensatz" *ngFor="let fragensatz of fragensaetze">
            <h2>{{fragensatz.titel}}</h2>
            <wizard>
                <span *ngFor="let frage of fragensatz.fragen, let i = index">
                    <wizard-step>
                        <frage required="true"
                            name="{{frage.id}}"
                            ngModel  [frage]="frage"></frage>
                    </wizard-step>
                </span>
            </wizard>
        </div>
    </div>
    <div class="buttonbar">
        <button (click)="neustart()" class="button left mr20">Neu starten</button>
        <button (click)="zumErgebnis()" class="button left" [class.disabled]="!currentForm.valid">Ergebnis ansehen</button>
    </div>
</form>